body {
    background: white;
    align-content: center;
    font-size:14px;
  }
header {
  margin-block:px;
    font-size:16px;
    font-style:oblique;
    color: #00ff2a;
    text-align: center;
    background-color:black;
  }
  h1{
    text-shadow: 0px 0px 5px yellow,0px -5px 5px;
    box-shadow: 5px 5px 5px blue;

  }
  ol{
    color: black;
    font-style: oblique;
    
  }

  h2{
    box-shadow: 5px 5px 5px red;
  
  }

  p{
    color: blue;
  }

  h4{
    color:black;
    font-size:24px;
    box-shadow: 5px 5px 5px blue;
  }

  h5{
    color:#b6160b;
    font-size: 24px;
    font-style: italic;
    box-shadow: 5px 5px 5px blue;
  }

          form {
              max-width: 400px;
              margin: left;
              padding: 50px;
              border: 100px solid #ccc;
              background-color: #f9f9f9;
          }
  
        
          .btn-submit {
              background-color: #b6160b;
              color: white; 
              text-align: center;
              font-size: 16px;
              cursor:pointer; 
              border-radius: 10px;
              width: 100%;

          }

          input[type="text"], input[type="email"], textarea {
            width: 100%;           
            padding: 20px; 
            margin: 10px 0 20px 0; 
            border: 1px solid #ccc; 
            border-radius: 5px;
            font-size: 20px;
            box-sizing: border-box; 
          }



          .footer-middle ul li a {
            color:brown; 
            font-size: 18px; /
            transition: color 0.3s ease; 

  }


footer{
margin-block:px;
    font-size:33px;
    font-style:oblique;
    text-align: center;
    background-color:black;
}
  
